body {
  background-color: #fec;
}

nav {
  background-color: #dcb;
  text-align: center;

  position: sticky;
  top: 0;
}

a {
  border: 0.2em #cba outset;
  width: 30%;
  display: inline-block;

  text-decoration: none;
  color: #000;

  user-select: none;
  -webkit-user-drag: none;
}

a:hover {
  border-color: #a98;
  border-style: inset;
  background-color: #ba9;
}

a:active {
  background-color: #987;
  color: #fff;
}

div,
:target ~ :last-child {
  display: none;
}

:target,
div:last-child {
  display: block;
}

:target > h2 {
  padding-top: 2em;
}
